.container {
  &::before {
    border-bottom: 1px solid black;
  }
  .navbar {
    border-radius: 0;
    .btn {
      background-color: #fff;
    }
    .navbar-nav {
      margin: 0 auto;
      .btn {
        background-color: #fff;
        text-transform: uppercase;
        border-radius: 0;
        color: #000;
        border: none;
        margin: 0 5px;
        font-size: 12px;
      }
    }
  }
  .menu-icon {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 4px 0;
  }
  .heart {
    border-right: 1px solid black;
    border-right-style: dotted;
    border-radius: 0px;
  }
}
