.container {
  .back {
    font-size: 12px;
    .btn {
      font-size: 12px;
      color: blue;
      border-radius: 0;
      border: 1px solid white;
      padding: 0;
    }
  }
  .rating {
    margin: 15px 0;
    span {
      font-size: 12px;
    }
    .btn {
      padding: 0;
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 12px;
      color: #000;
      font-weight: bold;
    }
  }
  .price {
    color: blue;
    font-size: 24px;
    margin: 20px 0;
  }
  .stock {
    label {
      font-weight: bold;
      line-height: 0.1px;
      span {
        color: skyblue;
        font-weight: 100;
      }
    }
  }
  .product-code {
    label {
      font-weight: bold;
      line-height: 0.1px;
      span {
        color: skyblue;
        font-weight: 100;
      }
    }
  }
  .tags {
    label {
      font-weight: bold;
      span {
        color: skyblue;
        font-weight: 100;
      }
    }
  }
  .info {
    margin: 20px 0;
    color: grey;
  }
  .specification {
    margin: 20px 0;
    color: grey;
  }
  .clear {
    margin: 20px 0;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
  }
  .buttons-grp {
    margin: 24px 0;
    .btn {
      border-radius: 0;
      border: 1px solid #000;
      margin: 20px 20px 20px 0;
      padding: 20px;
      width: 250px;
      text-transform: uppercase;
      font-weight: bold;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
  .share-link {
    font-weight: bold;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 20px 0;
    .btn {
      margin: 0 20px;
    }
  }
}
