.country-dropdown {
  text-align: center;
  margin: 15px;
  width: 80px;
}

.name {
  text-transform: uppercase;
  text-align: center;
  margin: 15px;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0.4px;
}

.cart-button {
  text-align: center;
  margin: 22px;
  .btn {
    border-radius: 0;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 300;
    width: 100px;
    border: 1px solid #000;
  }
}
