.clear {
  background-color: #fff;
  border-radius: 0px;
  box-shadow: none;
  outline-color: #fff;
}

label {
  margin: 0;
}

.input-group-text {
  padding: 0 !important;
}

input[type='text'] {
  height: 40px;
}
